* {
  margin: 0;
  padding: 0;
  --primary-color: #1f2a40;
  --secondary-color: #f0f4f7;
  --accent-color: #faa902; /* الأصفر */
}
html,
body {
  overflow-x: hidden;
}

@media (max-width: 768px) {
  body {
    padding-top: 130px;
  }
}
.first-nav {
  background-color: #000000;
  padding: 12px 0;
  position: relative;
  z-index: 1;
}

.first-nav ul {
  list-style: none; /* يشيل النقاط */
  margin: 0;
  padding: 0;
  display: inline-flex; /* يخلي العناصر صف واحد */
  gap: 0px;
  display: flex;
  justify-content: space-around; /* مسافة بين العناصر */
}

.first-nav li a {
  text-decoration: none; /* يشيل الخط */
  color: #e6eef8; /* لون النص */
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s;
}

.first-nav li a:hover {
  color: #868c94; /* لون عند المرور */
}


.first-nav a.best {
    color: #cad6e6; /* نص أبيض */
    font-weight: bold;
    font-size: 16px;
    text-decoration: none; /* نشيل الخط الافتراضي */
    
    /* خط تحت النص */
    border-bottom: 3px solid #3c1010; /* برتقالي غامق */
    padding-bottom: 3px; /* مسافة بسيطة بين النص والخط */
    
    transition: border-color 0.3s;
}

.first-nav a.best:hover {
    border-color: #240a0a; /* يصبح أفتح شوي عند المرور */
}


.navbar {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  background-color: transparent;
  position: relative;
  top: 0px;
  width: 100%;
  background-color: var(--primary-color);
  padding: 15px;
  transition: all 0.4s ease;
  z-index: 1050;
}

/* الكلاس اللي بنضيفه لما تصير ثابتة */
.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  animation: slideDown 0.4s ease forwards; /* حركة نزول */
}

/* أنميشن نزول */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar.scrolled {
  background-color: black;
  color: var(--primary-color) !important;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar .container-fluid {
  padding-left: 100px;
  padding-right: 100px;
}

.navbar .logo {
  height: auto;
  max-height: 70px;
  width: auto;
}

.navbar-nav {
  margin-left: 400px;
  margin-right: auto;
  gap: 15px;
}

.navbar-nav .nav-link {
  color: var(--secondary-color) !important;
  font-size: 17px;
  padding: 8px 12px;
  white-space: nowrap;
}

.navbar-nav .nav-link:hover {
  border-bottom: 3px solid var(--accent-color); /* أصفر */
  color: var(--accent-color) !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23faa902' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar .language {
  list-style: none;
  text-decoration: none;
  color: var(--accent-color);
  margin-left: auto;
  margin-right: auto;
  font-weight: bolder;
}

@media (max-width: 768px) {
  .navbar-nav {
    margin-left: 0;
    margin-right: auto;
    gap: 15px;
  }
  .navbar-toggler {
    margin-right: auto;
    margin-left: auto !important;
    text-align: center;
    border: 2px solid #faa902 !important;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23faa902' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }
  .navbar .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar .logo {
    max-height: 60px;
    margin-left: auto;
  }
  .navbar .language {
    margin-left: auto;
  }
}

/*
NAVBAR */

.hero {
  position: relative;
  background-image: url(image/hero.jfif);
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding-top: 350px;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.hero .text {
  position: relative;
  z-index: 1;
  color: var(--secondary-color);
  text-align: center;
}

.hero .text h2 {
  font-size: 50px;
}
.hero .text button {
  font-size: 20px;
  padding: 10px 30px;
  background-color: var(--accent-color); /* أصفر */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.hero .text button a {
  text-decoration: none;
  list-style: none;
  color: var(--secondary-color);
}
.hero .text button:hover {
  background-color: #d28a00;
  padding: 12px 35px;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .hero .text {
    margin-top: -70px;
  }
}
/* Hero */

.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about h2 {
  color: var(--primary-color);
  width: 100%;
  text-align: center;
  position: relative;
}

.about h2::after {
  content: "";
  display: block;
  width: 140px;
  height: 4px;
  background: var(--accent-color);
  margin: 10px auto 0;
  border-radius: 2px;
}

.about .container {
  margin-top: 70px;
}

.about .img img {
  width: 75%;
  border-radius: 10px;
  margin-left: 100px;
}

.about .text {
  color: black;
  margin-top: 80px;
}

.about .text p {
  font-size: 17px;
  line-height: 30px;
}

.about .a a {
  display: inline-block;
  background-color: var(--accent-color); /* أصفر */
  border: 2px solid var(--accent-color);
  color: var(--secondary-color);
  padding: 10px 20px;
  border-radius: 50px;
  text-decoration: none;
  margin-top: 20px;
  list-style: none;
}
.about .icons {
  text-decoration: none !important;
  color: #000;
  font-size: 20px !important;
  margin-right: 5px !important;
  transition: color 0.3s;
}
.about .icons:hover {
  color: var(--accent-color) !important;
}

.about .a a:hover {
  padding: 12px 22px;
}
@media (max-width: 991.98px) {
  .about .img {
    width: 100% !important;
  }
  .about .text {
    width: 100%;
    text-align: center;
  }
  .about .text p {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 767.98px) {
  .about .img img {
    display: block;
    margin: 0 auto;
    width: 100% !important;
  }
  .about .text {
    width: 100%;
    text-align: center;
    margin-top: 50px !important;
  }
  .about .text p {
    width: 100%;
    text-align: center;
  }
}

/* ABOUT */

.services {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--primary-color);
}

.services h2 {
  color: var(--secondary-color);
  width: 100%;
  text-align: center;
  position: relative;
}

.services h2::after {
  content: "";
  display: block;
  width: 120px;
  height: 4px;
  background: var(--accent-color); /* خط أصفر */
  margin: 10px auto 0;
  border-radius: 2px;
}

.services .container {
  width: 100%;
  text-align: center !important;
  margin-top: 50px;
}

.services .card {
  height: 530px !important;
  border-radius: 20px;
  text-align: center !important;
  transition: transform 0.3s;
}
.services .card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: 0.3s;
}

.services img {
  height: 270px !important;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 20px;
}
.services .a {
  margin-top: 30px;
}
.services a {
  background-color: var(--accent-color); /* أصفر */
  border: 2px solid var(--accent-color);
  color: var(--secondary-color);
  padding: 7px 17px;
  border-radius: 50px;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
}

.services a:hover {
  padding: 12px 22px;
  background-color: #d28a00;
}

@media (max-width: 768px) {
  .services .card {
    height: 500px !important;
  }
}

/* SERVICES */

.destinations {
  padding: 60px 0;
  background-color: var(--secondary-color);
  text-align: center;
}

.destinations h2 {
  color: var(--primary-color);
  margin-bottom: 15px;
}

.destinations h2::after {
  content: "";
  display: block;
  width: 220px;
  height: 4px;
  background: var(--accent-color); /* خط أصفر */
  margin: 10px auto 0;
  border-radius: 2px;
}

.destinations .subtitle {
  color: #444;
  margin-bottom: 40px;
  font-size: 18px;
}

.map-section {
  position: relative;
  display: inline-block;
  max-width: 100%;
}

.map-img {
  width: 100%;
  max-width: 900px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

.pin {
  position: absolute;
  background: #faa902;
  color: #1f2a40;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s;
}

.pin:hover {
  transform: scale(1.1);
}

/* أماكن تقريبية للـ Pins */
.pin.europe {
  top: 30%;
  left: 40%;
}
.pin.middle-east {
  top: 40%;
  left: 55%;
}
.pin.asia {
  top: 35%;
  left: 70%;
}
.pin.africa {
  top: 55%;
  left: 48%;
}
.pin.america {
  top: 35%;
  left: 20%;
}

/* destinations */

.contact {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--primary-color);
}
.contact .h2::after {
  content: "";
  display: block;
  width: 160px;
  height: 4px;
  background: var(--accent-color); /* خط أصفر */
  margin: 10px auto 0;
  border-radius: 2px;
}
.contact .h2 {
  color: var(--secondary-color);
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.contact .call {
  text-align: left;
}
.contact .call a {
  color: var(--secondary-color) !important;
}
.contact img {
  width: 40%;
  margin-bottom: 30px;
}
.contact .pages {
  text-align: left;
}
.contact .pages h2 {
  font-size: 20px;
  font-weight: 400;
  margin-top: 50px;
  color: var(--accent-color);
}
.contact .pages a {
  color: var(--secondary-color) !important;
}
.contact .pages h3 {
  font-size: 20px;
  font-weight: 300;
  color: var(--secondary-color);
}

.contact .info input {
  padding: 10px 100px;
  border-radius: 10px;
  margin-top: 20px;
  border: 0;
}

.contact .info .input {
  padding: 25px 100px;
  border-radius: 10px;
}
.contact .info input::placeholder {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(10px, 10px);
  font-size: 14px;
  color: #aaa;
}

.contact button {
  padding: 10px 170px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border: 0;
}
.contact a {
  text-decoration: none;
  color: #333;
}
.contact .pages a {
  display: block;
  margin: 10px 0;
  text-decoration: none;
  color: #333;
}

@media (max-width: 768px) {
  .contact .info input {
    padding: 10px 50px;
  }

  .contact .info .input {
    padding: 25px 50px;
  }

  .contact .info button {
    padding: 10px 123px;
  }
}

/* CONTACT */

footer {
  background-color: var(--primary-color);
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0 12px 32px rgb(0, 0, 0);
}
footer h2 {
  color: var(--secondary-color);
  text-align: center;
  font-size: 20px;
  align-items: center;
}
@media (max-width: 768px) {
  footer h2 {
    font-size: 12px;
  }
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  font-size: 30px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

.whatsapp-float:hover {
  background-color: #1ebe5d;
  transform: scale(1.1);
  text-decoration: none;
}
